<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>E-mail Client Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content=<%= client_id %>>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>E-mail Client <small>A responsive e-mail client layout</small></h1>
    <a href="#" onclick="signOut();">Sign out</a>
</div>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>

<script>
    function signOut() {
        window.location.href = "<%= app_url %>" + "logout";
        console.log('User signed out.');
    }

    function inbox() {
        window.location.href = "<%= app_url %>" + "inbox";
        console.log('get inbox.');
    }

    function sent() {
        window.location.href = "<%= app_url %>" + "sent";
        console.log('get sent.');
    }

    function spam() {
        window.location.href = "<%= app_url %>" + "spam";
        console.log('get spam.');
    }

    function trash() {
        window.location.href = "<%= app_url %>" + "trash";
        console.log('get trash.');
    }

</script>

<!-- E-mail Client - START -->

<div class="container pb-mail-template1">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <nav class="navbar navbar-default pb-mail-navbar">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" id="brand" href="#">Hello, <u>User!</u></a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <div class="col-md-2" id="column-resize">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <button id="btn_email" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                            New E-mail
                        </button>
                        <div id="loltreeview">
                            <button onclick="inbox()">Inbox</button>
                            <button onclick="sent()">Sent</button>
                            <button onclick="spam()">Spam</button>
                            <button onclick="trash()">Trash</button>
                        </div>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <div class="col-md-10">
                    <div class="row" id="row_style">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-4 col-md-4">
                                        <p id="inbox_parag">INBOX</p>
                                    </div>
                                    <div class="col-xs-8 col-md-8">
                                        <div class="input-group">
                                            <input type="text" name="" placeholder="Seach...." class="form-control">
                                            <span class="input-group-btn">
                                                <button class="btn btn-primary" type="button" tabindex="-1">
                                                    <span class="fa fa-question fa-2x" area-hidden="true"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-xs-9 col-md-10">
                                        <div class="btn-group">
                                            <a data-toggle="dropdown" href="#" class="btn btn-warning btn-md" aria-expanded="false">All
                        <i class="fa fa-angle-down "></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">None</a></li>
                                                <li><a href="#">Read</a></li>
                                                <li><a href="#">Unread</a></li>
                                            </ul>
                                            <a href="#" class="btn btn-warning">
                                                <i class=" fa fa-refresh fa-lg"></i>
                                            </a>
                                        </div>
                                        <div class="btn-group">
                                            <a data-toggle="dropdown" href="#" class="btn btn-warning btn-md" aria-expanded="false">More
                        <i class="fa fa-angle-down "></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Mark all as read</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-xs-3 col-md-2">

                                        <div class="btn-group pull-right">
                                            <a data-toggle="dropdown" href="#" class="btn btn-primary" aria-expanded="false">
                                                <i class="fa fa-cog"></i>
                                            </a>
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Comfortable</a></li>
                                                <li><a href="#">Cozy</a></li>
                                                <li><a href="#">Compact</a></li>
                                                <hr>
                                                <li><a href="#">Configure inbox</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div id="grid"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Modal new message -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModal" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <div class="col-md-4">
                                    <h5>New message</h5>
                                </div>
                                <div class="col-md-8">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <form id="new-email" method="POST" action="/new-email" encType="multipart/form-data">
                        <div class="modal-body">
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>To: </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="targetEmail" placeholder="Enter e-mail" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>Subject: </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="newSubject" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>Message: </p>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea name="newMessage" class="form-control-message" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>ECDSA Public Key: </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="newECDSAPublicKey" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>ECDSA Private Key: </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="newECDSAPrivateKey" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>Cipher Key: </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type="text" name="newCipherKey" class="form-control" maxlength="8">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>Signed? </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type=checkbox name="signed"></input>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-3">
                                        <p>Encrypted? </p>
                                    </div>
                                    <div class="col-md-9">
                                        <input type=checkbox name="encrypted"></input>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input name="attached_file" type="file" id="attached_file"/>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- End of modal -->
        </div>
    </div>
</div>

<link rel="stylesheet" type="text/css" href="/css/index.css" />

<!-- you need to include the shieldui css and js assets in order for the charts to work -->
<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />
<script type="text/javascript" src="http://www.shieldui.com/shared/components/latest/js/shieldui-all.min.js"></script>
<script type="text/javascript">
    let dataSrc = [
	{
	    "text": "Inbox",
	    "iconCls": "fa fa-envelope"
	},
    {
        "text": "Sent Mail",
        "iconCls": "fa fa-book"
    },
    {
        "text": "Spam",
        "iconCls": "fa fa-exclamation-triangle"
    },
    {
        "text": "Trash",
        "iconCls": "fa fa-trash-o"
    },
    {
        "text": "More",
        "iconCls": "fa fa-info",
        "items": [
            {
                "text": "Important"
            },
            {
                "text": "Chats"
            },
            {
                "text": "All Mail"
            }
        ]
    }
];

let gridData = []
"<% result.forEach((res) => { %>"
gridData.push(
    {
        "id": "<%= res.id %>",
        "sender" : "<%= res.from %>",
        "message": "<%= res.subject %>",
        "date": "<%= res.date %>"
    }
)
"<% }) %>"

$(function () {
    $("#inboxButton").click(function () {
        window.location.href = "<%= app_url %>" + "inbox";
        console.log('get inbox.');
    })

    $("#treeview").shieldTreeView({
        dataSource: dataSrc,
        events: {
            click: function (e) {
                if (e.text == "Inbox") {
                    window.location.href = "<%= app_url %>" + "inbox";
                    console.log('get inbox.');
                }

                if (e.text == "Sent Mail") {
                    window.location.href = "<%= app_url %>" + "sent";
                    console.log('get sent.');
                }

                if (e.text == "Spam") {
                    window.location.href = "<%= app_url %>" + "spam";
                    console.log('get spam.');
                }

                if (e.text == "Trash") {
                    window.location.href = "<%= app_url %>" + "trash";
                    console.log('get trash.');
                }
            }
        },
    });

    $("#grid").shieldGrid({
        dataSource: {
            data: gridData
        },
        sorting: {
            multiple: true
        },
        paging: {
            pageSize: 5,
            pageLinksCount: 10
        },
        selection: {
            type: "row",
            multiple: true,
            toggle: false
        },
        columns: [
            // { field: "check", title: "&nbsp;", width: "2em", attributes: { style: "text-align: center;" } },
            // { field: "icon", title: "&nbsp;", width: "2em", attributes: { style: "text-align: center;" } },
            { field: "sender", title: "<%- inboxType === 'inbox' ? 'From' : (inboxType === 'sent' ? 'To' : 'From / To') %>", width: "10em" },
            { field: "message", title: "Subject", width: "17em" },
            // { field: "attach", title: "&nbsp;", width: "2em", attributes: { style: "text-align: center;" } },
            { field: "date", title: "<%- inboxType === 'inbox' ? 'Received' : (inboxType === 'sent' ? 'Delivered' : 'Delivered / Received') %>", width: "6em" }
        ],
        events: {
            command: function (e) {
                if (e.commandName == "selectionChanged") {
                    let toBeSelected = e.toBeSelected;  //- array with all elements which will be selected
                    console.log(e.indices[0]);
                    window.location.href = "<%= app_url %>" + "message/" + gridData[e.indices[0]]["id"]
                }
            }
        }
    });
})
</script>

<script type="text/javascript" src="/js/index.js"/>
<!-- E-mail Client - END -->

</div>

</body>
</html>