<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CryptedMail Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content=<%= client_id %>>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container pb-mail-template1">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <nav class="navbar navbar-default pb-mail-navbar">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" id="brand" href="#">Hello, <u>User!</u></a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-2" id="column-resize">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <button id="btn_email" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                                New E-mail
                            </button>
                            <div id="loltreeview">
                                <button onclick="inbox()">Inbox</button>
                                <button onclick="sent()">Sent</button>
                                <button onclick="spam()">Spam</button>
                                <button onclick="trash()">Trash</button>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <div class="col-md-10">
                        <div class="row" id="row_style">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-4">
                                            <p id="inbox_parag">INBOX</p>
                                        </div>
                                        <div class="col-xs-8 col-md-8">
                                            <div class="input-group">
                                                <input type="text" name="" placeholder="Seach...." class="form-control">
                                                <span class="input-group-btn">
                                                    <button class="btn btn-primary" type="button" tabindex="-1">
                                                        <span class="fa fa-question fa-2x" area-hidden="true"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel"><%= result.subject %></h4>
                                    <h4 class="modal-title" id="myModalLabel"><%= result.from %></h4>
                                    <h4 class="modal-title" id="myModalLabel"><%= result.to %></h4>
                                    <h4 class="modal-title" id="myModalLabel"><%= result.date %></h4>
                                </div>
                                <div class="body">
									<h4 class="modal-title" id="myModalLabel"><%= result.body %></h4>
                                </div>
                                <div class="form">
                                    <form method="POST" action="/decrypt">
                                        <div class="col-md-3">
                                            <p>BlockCipher Key: </p>
                                        </div>

                                        <div class="col-md-9">
                                            <input type="text" name="key" placeholder="Enter key" class="form-control">
                                        </div>
                                        <input hidden value="<%= result.body %>" name="message">
                                        <button type="submit" class="btn btn-primary">Decrypt</button>
                                    </form>
                                </div>
                                <div class="form">
                                    <form method="POST" action="/verify">
                                        <div class="col-md-3">
                                            <p>Sign Key: </p>
                                        </div>

                                        <div class="col-md-9">
                                            <input type="text" name="key" placeholder="Enter key" class="form-control">
                                        </div>
                                        <input hidden value="<%= result.body %>" name="message">
                                        <button type="submit" class="btn btn-primary">Verify</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>