<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CryptedMail Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content=<%= client_id %>>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
	<!-- Modal message preview -->
	<!-- <div class="modal fade" id="message-modal-' + message.id + '" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"> -->
		<!-- <div class="modal-dialog modal-lg">
			<div class="modal-content"> -->
				<div class="header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel"><%= result.subject %></h4>
					<h4 class="modal-title" id="myModalLabel"><%= result.from %></h4>
					<h4 class="modal-title" id="myModalLabel"><%= result.to %></h4>
					<h4 class="modal-title" id="myModalLabel"><%= result.date %></h4>
					<h4 class="modal-title" id="myModalLabel"><%= result.body %></h4>
				</div>
				<div class="body">
					<iframe id="message-iframe-'+message.id+'" srcdoc="<p>Loading...</p>">
					</iframe>
				</div>
			<!-- </div>
		</div> -->
	<!-- </div> -->
	<!-- End of modal -->
</div>

</body>
</html>