<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CryptedMail Message</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-signin-client_id" content=<%= client_id %>>

    <link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/index.css" />

    <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <script>
        function signOut() {
            window.location.href = "<%= app_url %>" + "logout";
            console.log('User signed out.');
        }

        function inbox() {
            window.location.href = "<%= app_url %>" + "inbox";
            console.log('get inbox.');
        }

        function sent() {
            window.location.href = "<%= app_url %>" + "sent";
            console.log('get sent.');
        }

        function spam() {
            window.location.href = "<%= app_url %>" + "spam";
            console.log('get spam.');
        }

        function trash() {
            window.location.href = "<%= app_url %>" + "trash";
            console.log('get trash.');
        }

        function base64ToArrayBuffer(base64) {
            // let data = base64.replace('-', '+');
            // data = data.replace('_', '/');
            console.log(base64);
            var binaryString = atob(base64.replace(/_/g, '/').replace(/-/g, '+'));
            var binaryLen = binaryString.length;
            var bytes = new Uint8Array(binaryLen);
            for (var i = 0; i < binaryLen; i++) {
                var ascii = binaryString.charCodeAt(i);
                bytes[i] = ascii;
            }
            return bytes;
        }

        function download(result) {
        }

        "<% if (result.attachment != '') { %>"
        console.log("TESTTT")
        const element = document.createElement("a");
        // console.log(result);
        const data = base64ToArrayBuffer("<%= result.attachment.data %>");
        // console.log(data);
        const file = new Blob([data], {
            type: "<% result.attachment.type %>"
        });

        element.className = "download-file";
        element.id = "download";
        element.href = URL.createObjectURL(file);
        element.download = "<%= result.attachment.filename %>";
        document.body.appendChild(element);
        "<% } %>"
    </script>
<div class="container">
    <div class="page-header">
        <h1>OksidianToughly <small>A crypted e-mail client</small></h1>
        <a href="#" onclick="signOut();" style="width: fit-content;">
            <div class="google-btn-out">
                <p class="btn-text"><b>Sign out</b></p>
            </div>
        </a>
    </div>
    <div class="container pb-mail-template1">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <nav class="navbar navbar-default pb-mail-navbar">
                        <div class="container-fluid">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" id="brand" href="#">Hello, <u>User!</u></a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="col-md-2" id="column-resize">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <div id="loltreeview" style="display: grid;">
                                <button id="btn_email" class="btn btn-danger" data-toggle="modal" data-target="#myModal" style="margin-bottom: 15px;">
                                    New E-mail
                                </button>
                                <button class="btn btn-block" onclick="inbox()">Inbox</button>
                                <button class="btn btn-block" onclick="sent()">Sent</button>
                                <button class="btn btn-block" onclick="spam()">Spam</button>
                                <button class="btn btn-block" onclick="trash()">Trash</button>
                            </div>
                        </div>
                        <!-- /.navbar-collapse -->
                    </div>
                    <div class="col-md-10">
                        <div class="row" id="row_style">
                            <div class="panel panel-default" style="padding-bottom: 45px;">
                                <div class="panel-heading">
                                    <div class="row">
                                        <div class="col-xs-4 col-md-4">
                                            <h3 class="modal-title" id="myModalLabel"><%= result.subject %></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="header" style="margin-top: 10px;">
                                    <h5 class="modal-title" id="myModalLabel" style="margin-left: 15px;"><b><%= result.from %></b></h5>
                                    <h6 class="modal-title" id="myModalLabel" style="margin-left: 15px;">to: <%= result.to %></h6>
                                    <h6 class="modal-title" id="myModalLabel" style="margin-left: 15px;"><%= result.date %></h6>
                                </div>
                                <div class="body" style="height: 25vh; margin: 15px 15px 15px 15px; border-style: solid; border-radius: 10px; border-width: 1px; padding: 7.5px; border-color: #ccc;">
									<span class="modal-title" id="myModalLabel"><%= result.body %></span>
                                </div>
                                <div class="form" style="margin-bottom: 15px;">
                                    <form method="POST" action="/decrypt">
                                        <div class="col-md-3">
                                            <p>BlockCipher Key: </p>
                                        </div>

                                        <div class="col-md-9">
                                            <input type="text" name="key" placeholder="Enter key" class="form-control" maxlength="8">
                                        </div>
                                        <input hidden value="<%= result.body %>" name="message">
                                        <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Decrypt</button>
                                    </form>
                                </div>
                                <div class="form">
                                    <form method="POST" action="/verify">
                                        <div class="col-md-3">
                                            <p>Sign Key: </p>
                                        </div>

                                        <div class="col-md-9">
                                            <input type="text" name="key" placeholder="Enter key" class="form-control">
                                        </div>
                                        <input hidden value="<%= result.body %>" name="message">
                                        <button type="submit" class="btn btn-primary" style="margin-left: 15px;">Verify</button>
                                    </form>
                                </div>
                                <% if (result.attachment != '') { %>
                                    <button class="btn btn-primary" onclick="document.getElementById('download').click()" style="float: right; margin-right: 15px;">Download Attachment</button>
                                <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>